* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    border: 5px solid red;
    height: 00vh;
}
.bg-image{
    height: 100%;

}

.girl{

}

.leafs{

}

.trees{

}

.All-Login-Elements{

}

.sign-in{
    
}
.sign-in h1{

}

.user_info{

}

.inputs{

}

.links{

}