@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Bayon&family=Lexend+Deca:wght@100..900&family=Rubik+Glitch&family=Teko:wght@300..700&display=swap');


/* FONTLAR 

font-family: "Teko", sans-serif;
font-family: "Alfa Slab One", serif;
font-family: "Abril Fatface", serif;
font-family: "Lexend Deca", sans-serif;
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: wheat;
}

body {
    background-color: #0C0302;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(12, calc(100%/12));
    grid-template-rows: repeat(12, calc(100%/12));
    border: 5px dotted transparent;
    /* border-image: linear-gradient(60deg, #EDAA25, #b02f04) 1; */
    width: 50vw;
    height: 100vh;
    background-image: url('../img/can-ozan-konseri-31277.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;




}

.content {
    /* box-sizing: content-box; */
    border: 2px solid #ebbb4925;
    margin: -2rem;
}

.content1 {
    /* background-color: #0a737345; */
    grid-area: 2/6/12/12;
    overflow: hidden;
}

.content2 {
    background-color: #0a737330;
    border: 1px solid #8e44ad;
    border-radius: 60px;
    box-shadow: 0 0 50px #8e44ad, 0 0 20px #8e44ad;
    grid-area: 2/6/12/12;
    z-index: 4;
}

.content3 {
    /* background-color: #b7bf996f; */
    /* border: 5px dotted transparent; */
    /* border-image: linear-gradient(90deg, #C43302, #EDAA25) 1; */
    grid-area: 4/2/5/7;
    z-index: 5;
    border: none;

}

.content3 p {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    /* margin-top: -2rem; */
    margin-left: 0.45rem;
    /* letter-spacing: 0.1rem; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    line-height: 0.8;
    text-shadow: 10px 0.5px 0.1rem #ed6d56;

}

.content3 .p2 {
    margin-left: 7.5rem;
    margin-bottom: -4rem;
    text-shadow: 10px 0.5px 0.1rem #ed6d56;


}

.content3 .p1 {
    margin-left: 6rem;


}


.content4 {
    font-family: "Teko", sans-serif;
    grid-area: 11/1/13/2;
    writing-mode: vertical-lr;
    /* margin-bottom: 1.75rem ; */
    padding-left: 2rem;
    padding-bottom: 2rem;
    background-color: #11d3d39d;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    border: none;

}

.content4 .p3 {
    color: #0C0302;
    font-size: 3.65vw;
    font-weight: bolder;

}

.content5 {
    grid-area: 8/3/11/11;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33vw;
    height: 25vh;
    border: none;
    margin-left: 0.02rem;

}

.content5 .p4 {
    /* border: 2px solid red; */

    font-size: 10rem;
    white-space: nowrap;
    z-index: 10;
    font-family: "Lexend Deca", sans-serif;
    text-shadow: 17REM 5REM 1rem #8e44ad, -30rem -5rem 1.5rem #8e44ad;
}

.content6 {
    grid-area: 1/9/2/12;
    line-height: 7.80rem;
    overflow: hidden;


}

.content6 .p5 {
    color: #0C0302;
    font-size: 1.75REM;
    white-space: nowrap;
    font-family: "Alfa Slab One", serif;
    z-index: 5;

}

.content7 {
    grid-area: 3/3/6/7;
    /* border: 10px double #0C0302; */
    /* background-color: #445bad75; */
    /* box-shadow: 0 0 10rem #2148d2cb;
    border-radius: 28%; */
}

.content7 {
    border-width: 0px 12px 0px 12px;
    border-style: double;
    border-color: #357575;
    border-radius: 40px 40px 60px 60px;
    -moz-border-radius: 40px 40px 60px 60px;
    -webkit-border-radius: 40px 40px 60px 60px;
}

.content8 {
    grid-area: 3/12/5/13;
    /* line-height: 8rem; */
    /* overflow: hidden; */
    line-height: 9.5rem;

}

.content8 .p6 {

    font-size: 1.70rem;
    writing-mode: vertical-rl;
    color: #0C0302;
    font-family: "Alfa Slab One", serif;
    letter-spacing: 0.7rem;


}

.content9 {}

.content10 {}




html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Monument Extended";
    text-transform: uppercase;
    font-size: 100px;
    z-index: -1;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161616;
    animation: slide-out-container 4s cubic-bezier(0.97, 0.01, 0.36, 0.99) 2.8s;
    animation-fill-mode: forwards;
}

.text-wrapper {
    color: white;
    position: absolute;
}

.text {
    font-family: "Monument Extended";
    font-weight: lighter;
    font-size: 54px;
}
.text-6{
    font-family: "Bayon", sans-serif;
    font-size: 75px;

}

.text-1,
.text-3,
.text-4,
.text-8,
.text-9,
.text-11 {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px white;
}

@keyframes blink {
    0% {
        opacity: 0%;
    }
    1% {
        opacity: 100%;
    }
    99% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}

.text-1 {
    animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
    opacity: 0;
}

.text-2 {
    animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
    opacity: 0;
}

.text-3 {
    animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
    opacity: 0;
}

.text-4 {
    animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
    opacity: 0;
}

.text-5 {
    animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
    opacity: 0;
}

.text-6 {
    animation: blink 0.8s linear 0.4s, blink 0.8s linear 2.5s, slide-out 3s linear 3.2s;
    opacity: 0;
}

.text-7 {
    animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
    opacity: 0;
}

.text-8 {
    animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
    opacity: 0;
}

.text-9 {
    animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
    opacity: 0;
}

.text-10 {
    animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
    opacity: 0;
}

.text-11 {
    animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
    opacity: 0;
}

@keyframes slide-out {
    0% {
        opacity: 0%;
    }
    1% {
        opacity: 100%;
    }

    19% {
        opacity: 100%;
    }
    20% {
        opacity: 0%;
    }

    39% {
        opacity: 0%;
    }
    40% {
        opacity: 100%;
    }

    59% {
        opacity: 100%;
    }
    60% {
        opacity: 0%;
    }

    79% {
        opacity: 0%;
    }
    80% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes slide-out-container {
    0% {
        height: 100vh;
    }

    40% {
        height: 100vh;
    }

    100% {
        height: 0%;
    }
}

@media (max-width: 990px) {
    .header {
        font-size: 24px;
    }

    .text {
        font-size: 24px;
    }
}

